<!DOCTYPE html>
<html lang="en">
    <div> <!--class="container">-->


    <form [formGroup]="currentForm" (ngSubmit)="onSubmit()">


        <!-- for formArrays
        <div formArrayName="apd_subFormGroup"> -->
            <!--<div *ngFor="let address of currentForm.controls['apd_formArray']; let i=index">-->

                    <rt-input *ngFor="let formEntry of currentFormEntries"
                              [formEntry]=formEntry

                              [formgroup]=currentForm>

                    </rt-input>


            <!--</div>

        </div>-->



    </form>




    </div>


</html>