<!DOCTYPE html>
<html lang="en">
<div>

    <form [formGroup]="currentForm">

        <!--
        <textarea [ngStyle]="{'background-color':'black','color':'white'}" [(ngModel)]='usermodel.prevEducation' rows="15" cols="80">
                        </textarea>

                         [ngClass]="{'formFrame_invalid' : peForm.controls[formEntry.key].value == true && uploadedData_Degree.length == 0 ,
                                'formFrame_valid' :peForm.controls[formEntry.key].value == false || (peForm.controls[formEntry.key].value == true && uploadedData_Degree.length > 0)}"
        -->

        <div *ngFor="let formEntry of currentFormEntries">

            <div [ngSwitch]="formEntry.key" >

                <!-- used here,because to ignore that entry as an standalone entry-->
                <div *ngSwitchCase="'copy_of_certificate_availableCheckbox'">
                    <!--do nothing for that formcontrol-element at the moment, because it is handled by 'copy_of_certificate' below-->
                </div>

                <!--
                <div *ngSwitchCase="'copy_of_certificate'"
                     class="form-group"
                     [ngClass]="{ 'formFrame_invalid' : currentForm.controls[formEntry.key].invalid && currentForm.controls['copy_of_certificate_availableCheckbox'].value == true,
                                'formFrame_valid' : currentForm.controls[formEntry.key].valid  ||  currentForm.controls['copy_of_certificate_availableCheckbox'].value == false}"
                     >
                    <div>
                    <md-checkbox formControlName="copy_of_certificate_availableCheckbox"  align="start" [(ngModel)]="currentForm.controls['copy_of_certificate_availableCheckbox'].value">
                               <label class="lbl-form_main"> Degree Certificate available ? </label>
                            </md-checkbox>



                 -->


                <div *ngSwitchCase="'copy_of_certificate'"
                         class="form-group"
                     [ngClass]="{ 'formFrame_invalid' :  currentForm.controls[formEntry.key].invalid,
                                    'formFrame_valid' : degreeCertAvailable == false || !currentForm.controls[formEntry.key].invalid
                                    }"
                         >
                    <div>

                        <md-checkbox  align="start"  [(ngModel)]="degreeCertAvailable" [ngModelOptions]="{standalone: true}" (click)="toggle_degreeCertAvailable(this)">
                           <label class="lbl-form_main"> Degree Certificate available ? </label>
                        </md-checkbox>


                        <i class="mdi mdi-information-outline mdi-24px"
                           [ngClass]="{'isInfoActive' : showTooltip1}"
                           (click)="toggleInfo($event)"
                           (mouseover)="showTooltip1=true"
                           (mouseleave)="showTooltip1=false"
                            [style.color]="'#4b797c'"></i>

                            <div *ngIf="showTooltip1" class="container-fluid">
                                <div class="row">
                                    <label class="infoText"> Please uncheck this box if you are unable to provide your degree certificate (e.g. bachelor's) by the application deadline because it will be issued by your academic institution only after the deadline
                                    </label>
                                </div>
                            </div>

                    </div>

                    <div  [hidden]="!degreeCertAvailable">
                        <rt-file-uploader
                                          [formgroup]= currentForm
                                          [formEntry] = formEntry

                        ></rt-file-uploader>

                    </div>

                </div>


                <div *ngSwitchDefault>
                    <rt-input
                              [formgroup]=currentForm
                              [formEntry]=formEntry>

                    </rt-input>
                </div>


            </div>

        </div>


        <!--
        <button type="submit" class="btn btn-default">Submit</button>
        -->

    </form>

    <hr/>

    <div  [ngClass]="{'formFrame_optional' : true}">

        <md-checkbox align="start" [(ngModel)]="ac2_hasValues" [ngModelOptions]="{standalone: true}" [checked]="ac2_hasValues">
            <label class="lbl-form_main"> Other previous education available ? (optional) </label>
        </md-checkbox>

        <form [hidden]="!ac2_hasValues"
              [formGroup]="currentForm2" name="ac2_form">

            <div *ngFor="let formEntry of currentFormEntries2">

                <div [ngSwitch]="formEntry.key" >

                    <div *ngSwitchDefault>
                        <rt-input
                                [formgroup]=currentForm2
                                [formEntry]=formEntry>

                        </rt-input>
                    </div>

                </div>

            </div>

            <!--
            <button type="submit">test submit that formGroup</button>
            -->

        </form>

    </div>


  </div>

    <!--
        <button type="button"  md-tooltip="showDebug" md-icon-button (click)="toggleDbg()">
            <md-icon class="md-42">build</md-icon>
        </button>
        <md-list *ngIf="dbgIsOpen">
            <md-list-item *ngFor="let formObj of peForm.value | getKeyValuePair">
                {{formObj.key }} : {{formObj.val}}
            </md-list-item>
        </md-list>
    -->


</html>



<!-- -----------------------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------->
